body {
    background-color: #222; 
    color: gold; 
    font-weight: bolder;
    text-decoration: underline;
}

#cat-image,
#random-cat-section img {
    width: 300px; 
    height: 300 px;
    display: block; 
    margin: 0 auto;
}

#random-cat-button {
    background-color: #007acc; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    background-color: #4caf50; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

header, footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center;
}

h2 {
    background-color: #007acc; 
    color: #fff; 
    padding: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

#search-section {
    background-color: #f7f7f7; 
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#random-cat-section {
    margin-top: 20px;
}

#random-cat-button {
    background-color: #007acc; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

.heart-icon {
    color: gray;
    cursor: pointer;
    font-size: 1.5rem; 
    transition: color 0.3s ease-in-out;
}

.heart-icon:hover {
    color: red;
}

.comment-submit-button {
    background-color: #007acc; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

.comments {
    margin-top: 10px;
}

.like-button,
.comment-button {
    display: none;
}